.button {
  font-family: $robotoRegular;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $whiteColor;
  background-color: transparent;
  border: 1px solid $whiteColor;
  border-radius: 5px;
  padding: 13px 28px;

  &:hover {
    color: $mainBlueColor;
    background-color: $whiteColor;
    cursor: pointer;
  }

  &:active {
    opacity: 0.2;
  }
}

.button--consult {
  box-sizing: border-box;
  min-height: 55px;
  font-size: 16px;
  line-height: 19px;
  background-color: $mainBlueColor;
  border-color: $mainBlueColor;
  padding: 13px 44px;

  &:hover {
    background-color: $whiteColor;
    color: $mainBlueColor;
  }

  &:active {
    opacity: 0.2;
  }
}

.button--more {
  box-sizing: border-box;
  min-width: 180px;
  color: $mainBlueColor;
  border: 1px solid $mainBlueColor;
  margin-top: 40px;

  &:hover {
    color: $whiteColor;
    background-color: $mainBlueColor;
  }

  &:active {
    opacity: 0.4;
  }
}

.button--submit {
  box-sizing: border-box;
  width: 270px;
}

@media (max-width: $tabletResolution) {
  .button--consult {
    box-sizing: border-box;
    width: 379px;
    height: 55px;
    padding: 13px;
    padding-top: 17px;
  }

  .button--submit {
    width: 279.88px;
    height: 46.65px;
  }
}

@media (max-width: $mobileResolution) {
  .button--consult {
    width: 287px;
    height: 55px;
  }

  .button--submit {
    width: 290px;
  }
}
