.button {
  font-family: $robotoRegular;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $whiteColor;
  background-color: transparent;
  border: 1px solid $whiteColor;
  border-radius: 5px;
  padding: 13px 26px;
}

.button--consult {
  box-sizing: border-box;
  min-height: 55px;
  font-size: 16px;
  line-height: 19px;
  background-color: $mainBlueColor;
  border-color: $mainBlueColor;
  margin-top: 45px;
  margin-left: 94px;
  padding: 13px 44px;
}

.button--more {
  box-sizing: border-box;
  min-width: 180px;
  color: $mainBlueColor;
  border: 1px solid $mainBlueColor;
  margin-top: 40px;
}

.button--submit {
  box-sizing: border-box;
  width: 270px;
}
