.consult {
  display: flex;
  justify-content: flex-end;
  background-color: $mainBlueColor;
  padding-top: 96px;
  padding-bottom: 114px;

  background-image: url("../img/paperplane@1x.png"), url("../img/desktop-plate-triangles.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 350px top 165px, right 855px top -176px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paperplane@2x.png"), url("../img/desktop-plate-triangles.svg");
    background-size: 511px 288px, 100% 150%;
  }
}

.consult__wrapper {
  width: 1170px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}

.consult__wrapper-second {
  width: 570px;
}

.consult h3,
.consult p {
  @include reset;
  color: $whiteColor;
}

.consult h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @include reset;
  margin-bottom: 10px;
}

.consult p {
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 49px;
}

@media (max-width: $tabletResolution) {
  .consult {
    background-image: none;
    padding-bottom: 104px;
  }

  .consult__wrapper {
    box-sizing: border-box;
    min-width: 770px;
    padding-left: 92.15px;
    padding-right: 87px;
  }

  .consult__wrapper-second {
    width: auto;
  }

  .consult h3 {
    font-size: 32px;
    line-height: 45px;
    margin-top: 80px;
  }

  .consult p {
    margin-top: 15px;
  }
}

@media (max-width: $mobileResolution) {
  .consult {
    padding-bottom: 40px;
  }

  .consult__wrapper {
    min-width: 320px;
    padding: 0 15px;
  }

  .consult__wrapper-second {
    margin: 0 auto;
  }

  .consult h3 {
    width: 243px;
    font-size: 28px;
    line-height: 39px;
    margin-right: 0;
    margin-top: 29px;
  }

  .consult p {
    width: 269px;
    font-size: 16px;
    line-height: 22px;
    margin-right: 0;
  }
}
