.copyright {
  width: 100%;
  margin-top: 57px;
}

.copyright__item {
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(27, 45, 55, 0.5);
}

.copyright__container {
  display: flex;
  justify-content: flex-start;
  width: 1416px;
  margin: 0 auto;
  padding: 15px 0;
}

.copyright__item:nth-child(2n) {
  margin-left: 75px;
}

.copyright__item:nth-child(3n) {
  margin-left: 142px;
}

.copyright__item:nth-child(4n) {
  margin-left: 405px;
}

@media (max-width: $tabletResolution) {
  .copyright {
    margin-top: 0;
  }

  .copyright__container {
    width: 770px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px 26px;
  }

  .copyright__item:nth-child(1n) {
    margin: 0;
  }

  .copyright__item-move {
    position: absolute;
    top: 36px;
    left: 328px;
  }

  .copyright__item-hide {
    display: none;
  }
}

@media (max-width: $mobileResolution) {
  .copyright__container {
    width: 320px;
    padding: 28px 15px;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .copyright__item:nth-child(1n) {
    display: inline-block;
    text-align: center;
    margin-bottom: 21px;
  }

  .copyright__container .copyright__item-move,
  .copyright__container .copyright__item-hide {
    display: none;
  }
}
