.intro {
  display: flex;
  flex-direction: column;
  color: $whiteColor;
  padding-top: 35px;

  background-image: url("../img/plate-desktop@1x.png"), url("../img/desktop-plate-triangles.svg");
  background-repeat: no-repeat;
  background-position: top 260px right 177px, top right;
}

@media (max-width: $tabletResolution) {
  .intro {
    padding-top: 20px;
    background-size: 465px 340px, 1490px 700px;
    background-position: top 110px right -203px, top -135px right -365px;
  }
}

@media (max-width: $mobileResolution) {
  .intro {
    padding-top: 15px;
    background-size: 301px 220px,1490px 668px;
    background-position: top 90px left 30px,top -139px right -520px;
  }
}
