.intro {
  display: flex;
  flex-direction: column;
  color: $whiteColor;
  padding-top: 35px;

  background-image: url("../img/plate-desktop@1x.png"), url("../img/desktop-plate-triangles.svg");
  background-repeat: no-repeat;
  background-size: 705px 515px, 100% 102%;
  background-position: top 258px right 177px, top 2px right;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/plate-desktop@2x.png"), url("../img/desktop-plate-triangles.svg");
  }
}

@media (max-width: $tabletResolution) {
  .intro {
    padding-top: 22px;
    background-size: 466px 340px,1504px 700px;
    background-position: top 113px right -205px,top -135px right -369px;
  }
}

@media (max-width: $mobileResolution) {
  .intro {
    padding-top: 15px;
    background-size: 301px 220px,1490px 668px;
    background-position: top 90px left 30px,top -139px right -520px;
  }
}
