.modal {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  width: 490px;
  margin: 0 auto;
  margin-top: -275px;
  color: $whiteColor;
  padding: 33px 39.2px;
}

.modal,
.modal__form {
  display: flex;
  flex-direction: column;
  background-color: $mainBlueColor;
}

.modal__close {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20.44px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: none;
}

.modal svg {
  display: block;
  position: relative;
  top: -2px;
  left: -8px;
  width: 17px;
  height: 17px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &:active {
    opacity: 0.2;
  }
}

.modal h2,
.modal__form h3 {
  @include reset;
}

.modal h2 {
  font-family: $robotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  margin-bottom: 14px;
}

.modal__form h3 {
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 35px;
}

.modal__form input,
.modal__form textarea {
  width: 100%;
  border: none;
  background-color: #19BAFF;
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $whiteColor;
  line-height: 22px;
  padding: 14.5px 24.13px;
}

.modal__form-input-wrapper,
.modal__form textarea {
  margin-bottom: 30px;
}

.modal__form ::-webkit-input-placeholder {
  color: $whiteColor;
  font-family: $ptMono;
  font-size: 16px;
  line-height: 22px;
}

.modal__form ::-moz-placeholder {
  color: $whiteColor;
  font-family: $ptMono;
  font-size: 16px;
  line-height: 22px;
}

.modal__form :-moz-placeholder {
  color: $whiteColor;
  font-family: $ptMono;
  font-size: 16px;
  line-height: 22px;
}

.modal__form :-ms-input-placeholder {
  color: $whiteColor;
  font-family: $ptMono;
  font-size: 16px;
  line-height: 22px;
}

.modal__form input {
  box-sizing: border-box;
  height: 51.8px;
  padding-top: 13.49px;

  &:hover {
    cursor: pointer;
    outline: 1px solid $whiteColor;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal__form textarea {
  box-sizing: border-box;
  resize: none;
  width: 411.4px;
  height: 104px;
  color: $whiteColor;

  &:hover {
    cursor: pointer;
    outline: 1px solid $whiteColor;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal__form button {
  margin-bottom: 34px;
}

.modal__form-submit-checkbox label {
  display: inline-block;
  box-sizing: border-box;
  width: 350px;
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;

  @include reset;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label, {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  padding-top: 10px;
  line-height: 16px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before, {
  content: "";
  position: absolute;
  left: 8px;
  top: 9px;
  width: 15px;
  height: 15px;
  border: 1px solid $whiteColor;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  left: 13px;
  top: 12px;
  width: 7.5px;
  height: 4.5px;
  border-left: 1px solid $whiteColor;
  border-bottom: 1px solid $whiteColor;
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}

input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

@media (max-width: $tabletResolution) {
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label, {
    padding-left: 32px;
    padding-top: 13px;
  }

  input[type="checkbox"]:checked + label::before,
  input[type="checkbox"]:not(:checked) + label::before, {
    left: -2px;
    top: 13px;
  }

  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 3px;
    top: 17px;
  }
}
