.offer {
  width: 100%;
  background-color: $mainColor;
  color: $whiteColor;
  padding-bottom: 117px;
}

.offer__wrapper {
  width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.offer h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @include reset;
  margin-top: 90px;
}

.offer__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}

.offer__list-item {
  box-sizing: border-box;
  width: 370px;
  height: 620px;
  position: relative;
  background-color: $mainColor;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  margin-right: 30px;
  overflow: hidden;
}

.offer__list-item:nth-child(3n) {
  margin-right: 0;
}

.offer__list-link {
  display: flex;
  box-sizing: border-box;
  min-width: 370px;
  min-height: 620px;

  @include reset;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.offer__list-link img {
  opacity: 0.2;
  object-fit: cover;
}

.offer__list-link h3 {
  position: absolute;
  top: 53px;
  left: 43.7px;
  width: 162px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $whiteColor;
  z-index: 1;

  @include reset;
}

.offer__list-link::before {
  content: "";
  display: inline-block;
  width: 63px;
  height: 63px;
  background: $mainBlueColor;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.offer__list-link::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;

  border: 1px solid $whiteColor;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  bottom: 28.5px;
  right: 28.5px;
  z-index: 1;
}

@media (max-width: $tabletResolution) {
  .offer {
    padding-bottom: 35px;
  }

  .offer__wrapper {
    box-sizing: border-box;
    width: 770px;
    padding: 0 25px;
  }

  .offer__wrapper h2 {
    width: 613px;
    font-size: 32px;
    line-height: 45px;
    margin-top: 50px;
  }

  .offer__list-item {
    width: 720px;
    height: 256px;
    margin-right: 0;
    margin-bottom: 46px;
    overflow: hidden;
  }

  .offer__list-link img {
    width: 720px;
    height: 256px;
  }

  .offer__list-link h3 {
    top: 43px;
  }

  .offer__list-link::before {
    top: 195px;
  }

  .offer__list-link::after {
    top: 222px;
  }
}

@media (max-width: $mobileResolution) {
  .offer__wrapper {
    width: 320px;
    padding: 0 15px;
  }

  .offer h2 {
    width: 280px;
    font-size: 28px;
    line-height: 39px;
    margin-left: 10px;
  }

  .offer__list {
    margin-top: 42px;
  }

  .offer__list-item {
    margin-bottom: 30px;
  }

  .offer__list-item,
  .offer__list img {
    width: 290px;
  }

  .offer__list-link::before {
    right: 80px;
  }

  .offer__list-link::after {
    right: 108.5px;
  }

  .offer__list-link h3 {
    left: 34.7px;
    top: 20px;
  }
}
