.office-list {
  margin-top: 20px;
}

.office-list__wrapper h5 {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: $robotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B2D37;

  @include reset
  margin-top: 5px;
}

.office-list__item {
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: #1B2D37;
}

.office-list__link {
  color: #1B2D37;
}

@media (max-width: $tabletResolution) {
  .office-list {
    margin-top: 25px;
  }

  .office-list__wrapper {
    width: 333px;
    margin-right: 12px;
  }

  .office-list__wrapper h5 {
    margin-top: 0;
  }
}

@media (max-width: $mobileResolution) {
  .office-list {
    margin-top: 31px;
  }

  .office-list__wrapper {
    width: auto;
    margin-right: 0;
    padding-top: 28px;
    padding-right: 12px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }
}
