.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 206px;
}

.page-footer__logo-link {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.page-footer__logo-wrapper img {
  margin-right: 16px;
  margin-left: -2px;
}

.page-footer__logo-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
