.page-header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1475px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

.page-header__logo-link {
  display: flex;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-header__logo-wrapper img {
  margin-right: 12px;
}

.page-header__logo-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

.page-header__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 675px;
}

.page-header__link {
  display: flex;
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $whiteColor;
  text-decoration: none;
  position: relative;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-header__link p {
  @include reset;
}

.page-header__link--tel {
  margin-left: 81px;
}

.page-header__link--tel svg {
  margin-right: 10px;
  margin-top: -5px;
  padding: 5px;
}

.page-header__link--mail svg {
  margin-right: 10px;
  margin-top: -2px;
  padding: 5px;
}

.page-header__button {
  margin-left: 46px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: $tabletResolution) {
  .page-header {
    box-sizing: border-box;
    padding: 0 15px;
  }

  .page-header__links-wrapper {
    min-width: 100px;
  }

  .page-header__logo-text-wrapper {
    margin-top: 5px;
  }

  .page-header__link p,
  .page-header__button {
    display: none;
  }

  .page-header__link svg {
    margin: 0;
  }

  .page-header__link--tel {
    margin-left: 27px;
  }

  .page-header__link--tel svg {
    width: 26px;
    height: 26px;
  }

  .page-header__link--mail svg {
    width: 32px;
    height: 21px;
  }
}

@media (max-width: $mobileResolution) {
  .page-header {
    width: 100%;
  }

  .page-header__logo-link svg {
    width: 140px;
    height: 42px;
  }

  .page-header__logo-link svg g {
    display: none;
  }

  .page-header__links-wrapper {
    width: 75px;
  }

  .page-header__link--tel {
    margin-left: 20px;
  }
}
