.print-plates {
  width: 1411px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 258px;
  margin: 0 auto;
}

.print-plates h2 {
  width: 718px;
  font-family: $robotoRegular;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include reset;
  margin-top: 231px;
  margin-left: -5px;
}

.print-plates p {
  width: 624px;
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;

  @include reset;
  margin-top: 25px;
  padding-left: 94px;
  position: relative;
}

.print-plates p::after {
  content: '';
  display: inline-block;
  width: 66px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 15px;
  background-color: $whiteColor;
}

.print-plates__link {
  width: 93px;
  height: 16px;
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: $whiteColor;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  top: 732px;
  left: 215px;

  &:hover {
    opacity: 0.4;
    cursor: pointer;
  }

  &:active {
    opacity: 0.2;
  }
}

.print-plates__button {
  margin-top: 45px;
  margin-left: 94px;
}

.print-plates__button span:last-child {
  display: none;
}

@media (max-width: $tabletResolution) {
  .print-plates {
    width: 424px;
    margin-left: 93px;
    margin-right: auto;
    padding-bottom: 163px;
  }

  .print-plates h2 {
    width: 424px;
    font-size: 60px;
    line-height: 70px;
    margin-top: 117px;
  }

  .print-plates p {
    width: 356px;
    font-size: 18px;
    line-height: 28px;
    text-transform: lowercase;
    padding-left: 46px;
    margin-top: 28px;
  }

  .print-plates p::after {
    width: 33px;
    top: 18px;
    left: -2px;
  }

  .print-plates__button {
    margin-left: 46px;
    margin-top: 54px;
  }
}

@media (max-width: $mobileResolution) {
  .print-plates {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 71px;
  }

  .print-plates h2 {
    width: 220px;
    font-size: 40px;
    line-height: 47px;
    margin-top: 229px;
    margin-left: 1px;
  }

  .print-plates p {
    font-size: 16px;
    line-height: 25px;
    width: 245px;
    padding-left: 50px;
  }

  .print-plates p::after {
    left: 3px;
    top: 14px;
  }

  .print-plates__button {
    margin-left: 3px;
    margin-top: 38px;
  }

  .print-plates__button span:first-child {
    display: none;
  }

  .print-plates__button span:last-child {
    display: inline-block;
  }
}
