.site-list {
  margin-right: 15.6%;
}

.site-list:last-of-type {
  margin-right: 0;
  position: relative;
  right: 3px;
}

.site-list__item {
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.site-list__link {
  width: fit-content;
  color: rgba(27, 45, 55, 0.5);
}

.site-list__item a {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tabletResolution) {
  .site-list {
    margin-right: 0;
  }

  .site-list:last-of-type {
    right: 7px;
  }
}

@media (max-width: $mobileResolution) {
  .site-list {
    margin-top: 0;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 28px;
  }

  .site-list__item {
    width: 270px;
  }

  .site-list:last-of-type {
    margin-right: 0;
    position: relative;
    right: 20px;
    padding-bottom: 26px;
  }
}
