.site-parts-list {
  display: flex;
  padding-top: 5px;
  margin-left: -2px;
}

.site-parts-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -5px;
}

.site-parts-list__wrapper:last-child {
  padding-left: 152px;
}

.site-parts-list__wrapper-second {
  width: 505px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.site-parts-list__wrapper h3 {
  width: 100%;
  max-height: 16px;
  display: flex;
  align-items: flex-start;
  font-family: $robotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B2D37;

  @include reset;
  margin-bottom: 22px;
  margin-left: 2px;
}

.site-parts-list__wrapper:last-child h3 {
  margin-top: 0;
}

.site-parts-list__wrapper svg {
  display: none;
}

@media (max-width: $tabletResolution) {
  .site-parts-list {
    margin: 0;
    margin-top: 24px;
  }

  .site-parts-list__wrapper:first-child .site-list:last-child {
    margin-top: 0;
  }

  .site-parts-list__wrapper {
    align-content: start;
    padding-left: 25px;
  }

  .site-parts-list__wrapper:last-child {
    padding-left: 0;
    padding-right: 30px;
  }

  .site-parts-list__wrapper h3 {
    margin-left: 2px;
  }

  .site-parts-list__wrapper-second {
    width: 340px;
  }
}

@media (max-width: $mobileResolution) {
  .site-parts-list {
    flex-direction: column;
    margin-top: 0;
  }

  .site-parts-list__wrapper {
    min-width: 100%;
    justify-content: space-between;
    padding-left: 0;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .site-parts-list__wrapper-second {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }

  .site-parts-list__wrapper h3 {
    position: relative;
    margin-top: 34px;
    margin-bottom: 25px;
  }

  .site-parts-list__wrapper svg {
    display: block;
    position: absolute;
    right: 15px;
    top: 30px;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    &:active {
      opacity: 0.2;
    }
  }

  .site-parts-list__wrapper:last-child h3 {
    margin-top: 34px;
  }
}
