.site-parts-list {
  margin-top: 26px;
  margin-right: 75px;
}

.site-parts-list__item {
  font-family: $ptMono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.site-parts-list__link {
  color: rgba(27, 45, 55, 0.5);
}
