.socials-list {
  display: flex;
  width: 112px;
  justify-content: space-between;
  margin-top: 54px;
  margin-left: -3px;
}

.socials-list__item {
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tabletResolution) {
  .socials-list {
    display: inline-flex;
    margin: 0;
  }
}

@media (max-width: $mobileResolution) {
  .socials-list {
    margin: 0 auto;
    margin-top: 32px;
  }
}
