$mainColor: #1B2D37;
$whiteColor: #FFFFFF;
$robotoRegular: "Roboto Condensed", "Arial", sans-serif;
$robotoBold: "Roboto Condensed Bold", "Arial Bold", sans-serif;
$ptMono: "PT Mono", "Arial", sans-serif;
