.wrapper--header {
  background-image: url("../img/plate-desktop@1x.png"), url("../img/desktop-plate-triangles.svg");
  background-repeat: no-repeat;
  background-position: top 260px right 177px, top right;

  display: flex;
  flex-direction: column;
  color: $whiteColor;

  padding-top: 35px;
}

.wrapper--offer {
  width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper--consult {
  width: 945px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 375px;
}
