.wrapper--header {
  background-image: url("../img/plate-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top 150px right 177px;

  display: flex;
  flex-direction: column;
  color: $whiteColor;

  padding-top: 25px;
  padding-left: 253px;
  padding-right: 256px;
}
