$mainColor: #1B2D37;
$whiteColor: #FFFFFF;
$robotoRegular: "Roboto Condensed", "Arial", sans-serif;
$ptMono: "PT Mono", "Courier", monospace;
$mainBlueColor: #00B2FF;
$tabletResolution: 1023px;
$mobileResolution: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
